body {
    background-image: url('https://i.pinimg.com/originals/6b/b9/2b/6bb92b87c32fbb2ef27e0b007629ed51.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}