@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

section {
    padding: 20px;
}

p[role=game-instructions], p[role=instructions], p[role=room] {
    font-size: large;
    margin: 0; 
}

p[role=room] {
    padding: 10px;
}

.spacing {
    padding: 50px;
}

#username, #roomNo {
    font-size: large;
    border-radius: 20px;
    border-style: solid;
    border-color: #ffffff;
    padding: 10px;
    margin: 10px 0px; 
}

#username:hover, #roomNo:hover, #username.active {
    border-color: #7e7e7e;
}

.dropdown {
    border-color: #7e7e7e;
    border-style: solid;
    border-radius: 20px;
    background-color: white;
    padding: 15px 25px;
    cursor: pointer;
}

.button, #submit {
    border-radius: 20px;
    border-style: none;
    background-color: #ffffff;
    font-size: larger;
    padding: 13px 20px;
    cursor: pointer;
}

.button:hover, #submit:hover {
    background-color: #ffffffa9;
}
