@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* text related */

section {
    padding: 20px;
}

.spacing {
    padding: 20px;
}

.actions {
    padding: 50px
}

p[role=game-instructions], p[role=instructions], p[role=room] {
    font-size: large;
    margin: 0; 
}

p[role=room] {
    padding: 10px;
}

h5 {
    font-weight:normal;
}

/* text boxes */

#username, #roomNo {
    font-size: large;
    border-radius: 20px;
    border-style: solid;
    border-color: #ffffff;
    padding: 10px;
    margin: 10px 0px; 
}

#username:hover, #roomNo:hover, #username.active {
    border-color: #7e7e7e;
}

/* dropdown menus */

.dropdown {
    border-color: #7e7e7e;
    border-style: solid;
    border-radius: 20px;
    background-color: white;
    padding: 15px 25px;
    cursor: pointer;
}

/* buttons and links */

.button, #submit {
    border-radius: 20px;
    border-style: none;
    background-color: #ffffff;
    font-size: larger;
    padding: 13px 20px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;

}

.button:hover, #submit:hover {
    background-color: #ffffffa9;
}

.link {
    display: inline-block;
    color: #000;
}

.button.link {
    margin: 15px auto;
}

.action {
    justify-content: 'space-between';
}

/* tables */

table {
    margin: 0 auto;
    text-align: center;
    width: 30%;  
    border: 1px solid black;
    border-collapse: collapse;  
}

tr td {
    padding: 10px;
    text-align: center;
    width: 50%;
    font-size: large;
    border: 1px solid black;
}

th {
    border: 1px solid black;
    font-size: x-large;
}

